<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC9bIlIOCnROggdtA9lVlWvJh0cWDRYljY</string>
	<key>GCM_SENDER_ID</key>
	<string>971801769486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dinarexchange.app</string>
	<key>PROJECT_ID</key>
	<string>exchange-dinar</string>
	<key>STORAGE_BUCKET</key>
	<string>exchange-dinar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971801769486:ios:bceb49ee14e1b016b62e5f</string>
</dict>
</plist>